# port to listen on
PORT=

# the IP (or url) where the chatroom is hosted
# if not set, the announced IP defaults to 127.0.0.1
MEDIASOUP_ANNOUNCED_IP=
# the IP (or url) mediasoup listens to
# if not set, the announced IP defaults to 0.0.0.0
MEDIASOUP_LISTEN_IP=

# port ranges allowed by mediasoup
MEDIASOUP_RTC_MIN_PORT=
MEDIASOUP_RTC_MAX_PORT=

# facial emotion recognition service IP
FER_URL=
# voice emotion recognition service IP
VER_URL=

# `true` or `false` (optional)
DEBUG=